<!DOCTYPE html> {% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전현욱의 자기소개서</title>
    <link rel = "stylesheet" href = "{% static './css/main.css' %}">
    <link rel = "stylesheet" href = "{% static './css/scroll.css' %}">
</head>

<body>

    <div id="container">
      <div class="list">
          <div class="one" style="text-align : center">
            <span class="profile"><img src="{% static './img/deer.png' %}" width="550px;" height="550px" alt=""/></span> 
            <h3><strong>안녕하세요. 전현욱입니다.</strong></h3>
          </div>
      </div>
    
      <div class="list">
          <div class ="two" style="text-align : center">
              <img class = "me" src ="https://i.namu.wiki/i/uJQuIuZt-nS5Lbu1wDNWwPJTL7MpN4iscQ-p6uDGN4rgHEQPiMTJoAuf7XVf8x2wHXyZF7vyKyMfoaFfTbJZSvygmbRCxlg2G8nm_kiwqzi4FBJsCOHmVctbL1AQR5hNm4jYNarQBeubcwyW88Ob7g.webp" alt="" width="450px;" height="500px">
              <h3 class ="intext"> <strong>간단한 자기소개<br></strong><br><br>
                안녕하세요. 저는 전현욱이라고 합니다. 반갑습니다.<br>
                저는 일본어를 전공했고 소프트웨어를 복수전공했습니다. 현재 대학교 수료를 마쳤습니다. <br>
                자연어 처리 분야에 관심이 있으며, CV 분야도 적지 않게 있습니다. <br>
                데이터사이언스 분야에서 실용적이고 효율적인 개발자가 되고 싶습니다. <br>
                앞으로 잘 부탁드립니다. <br>
                감사합니다. <br>
          </div>
      </div>
      
      <div class="list">
          <div class="three" style="text-align : center">
              <h1> TMI <br><br></h1>
              <div class = "favorites">
                  <div class="lists">
                      <p class = "list_text"> MBTI: INFJ </p>
                  </div>
    
                  <div class="lists">
                      <p class = "list_text"> 좋아하는 것: 커피</p>
                  </div>
    
                  <div class="lists">
                      <p class = "list_text"> 싫어하는 것: 과일</p>
                  </div>
    
                  <div class="lists">
                      <p class = "list_text"> 현재 목표: 데브코스 마무리하기</p>
                  </div>
              </div>
          </div>
      </div>
    
      <div class="list">
          <div class = "four">
              <a href="https://github.com/gusdnr122997" class="ct">Github</a>
              <a href="/coffees" class="ct">Coffee List</a>
          </div>
      </div>
    <div>
    </body>

</html>